{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4">

                <div class="jumbotron text-center">
                    <h1 class="display-4">Join PrimePulse's Exclusive Newsletter</h1>
                    <p class="lead">Thank You For Signing Up To Our Newsletter</p>
                    {% include 'includes/alerts.html' %}
                </div>
                <div class="form-group text-center">
                    <div class="col-md-6 mx-auto">
                        <!-- Adjust the column size as needed -->
                        <a href="{% url 'dashboard' %}" class="btn btn-primary">Go Back To Dashboard</a>
                    </div>
                </div>
            </header>

        </article>
    </div>
    <br><br>
</section>
{% endblock%}